POSTGRES_DB=recsys
POSTGRES_USER=recsys
POSTGRES_PASSWORD=recsys123

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

POSTGRES_DATA_PATH=./local_data/postgres
OBJECT_STORE_PATH=./local_data/minio
OBJECT_STORE_MOUNT=/mnt/object
BLOCK_STORE_MOUNT=/mnt/block
WAREHOUSE_PATH=./local_data/warehouse
ARTIFACTS_PATH=./local_data/artifacts
