POSTGRES_DB=recsys
POSTGRES_USER=recsys
POSTGRES_PASSWORD=recsys123

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

OBJECT_STORE_MOUNT=/mnt/object
BLOCK_STORE_MOUNT=/mnt/block

KAGGLE_API_TOKEN=${KAGGLE_API_TOKEN}
